<!DOCTYPE html>
<html>
<head>
    <title>APPS</title>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'/>
    <script src="/javascripts/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function ($scope, $http) {
            $scope.apps = <%- apps %>;
            $scope.getTemplate = function (app) {
                if (app.id === $scope.selected.id) {
                    return "edit";
                } else {
                    return "display";
                }
            };
            $scope.selected = {};
            $scope.editApp = function (app) {
                $scope.selected = angular.copy(app);
            };
            $scope.deleteApp = function (app) {
                if (confirm('确定删除应用['+app.name+']?')) {
                    $http({
                        method: 'POST',
                        url: '/mgr/apps/del',
                        data: app
                    }).success(function (data) {
                        if (data.err) {
                            alert(JSON.stringify(data.err));
                        } else {
                            window.location.reload();
                        }
                    });
                }
            };
            $scope.updateApp = function (app) {
                $http({
                    method: 'POST',
                    url: '/mgr/apps/update',
                    data: app
                }).success(function (data) {
                    if (data.err) {
                        alert(JSON.stringify(data.err));
                    } else {
                        $scope.selected = {};
                    }
                });
            };
            $scope.reset = function () {
                $scope.selected = {};
            };
        });
    </script>

</head>
<body>

<div ng-app="myApp" ng-controller="customersCtrl">
    <script type="text/ng-template" id="display">
        <td>{{ app.id }}</td>
        <td>{{ app.name }}</td>
        <td>{{ app.packageName }}</td>
        <td>{{ app.startCode }}</td>
        <td>
            <button type="button" class="btn btn-primary" ng-click="editApp(app)">编辑</button>
            <button type="button" class="btn btn-danger" ng-click="deleteApp(app)">删除</button>
        </td>
    </script>
    <script type="text/ng-template" id="edit">
        <td><input type="text" ng-model=app.id ng-disabled="!edit" class="form-control input-sm"/></td>
        <td><input type="text" ng-model=app.name class="form-control input-sm"/></td>
        <td><input type="text" ng-model=app.packageName class="form-control input-sm"/></td>
        <td><input type="text" ng-model=app.startCode class="form-control input-sm"/></td>
        <td>
            <button type="button" class="btn btn-primary" ng-click="updateApp(app)">保存</button>
            <button type="button" class="btn btn-danger" ng-click="reset()">取消</button>
        </td>
    </script>

    <form action="/mgr/apps/save" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label">应用名:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="name" name="name" ng-disabled="edit" placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">包名:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="packageName" name="packageName" ng-disabled="edit"
                       placeholder="packageName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">起始Code:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="startCode" name="startCode" ng-disabled="edit" placeholder="startCode">
            </div>
        </div>
        <button class="btn btn-success" type="submit">
            <span class="glyphicon glyphicon-save"></span>创建应用
        </button>
    </form>
    <br/>
    <h3>应用列表：</h3>
    <table class="table table-striped table-bordered">
        <tr>
            <th>ID</th>
            <th>应用名</th>
            <th>包名</th>
            <th>起始Code</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="app in apps" ng-include="getTemplate(app)">

        </tr>
        <tr>
            <td>
                page
            </td>
        </tr>
    </table>

</div>
</body>
</html>

